body {
    font-family: "Alegreya Sans", "Open Sans", Arial, sans-serif;
    background-color: burlywood;
    padding: 20px;
    width: max-content;
    margin: 0 auto;
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
}

p {
    padding-left: 15px;
}

ul {
    list-style: square;
    line-height: 180%;
}

ul ul {
    list-style: circle;
    line-height: normal;
}

ol li {
    padding: 3px 0;
}


.index h1 {
    color: #222200
}

.img-box {
    width: max-content;
    margin: 0 auto;
}

.index ul {
    list-style: none;
    line-height: 200%;
    font-size: 26px;
}

.index-recipes {
    padding: 10px 50px;
}

.recipe-link {
    display: inline-block;
    padding: 0 12px;
    margin: 0 6px;
    border: dotted gold 1px; 
    background-color: peru;
}


.description {
    width: 700px;
}

.recipe {
    outline: auto;
    background-color: #ffd54cc9;
    width: 600px;
    padding: 5px 15px;
}